<div class="col-xs-12 col-xs-center text-center">
  <div class="col-sm-3 col-sm-offset-3">
    <%= link_to "Return to Photos List", photos_path, class: "btn btn-success btn-small" %>
  </div>
  <div class="col-sm-3">
    <%= link_to "Return to Users List", users_path, class: "btn btn-success btn-small" %>
  </div>
</div>